@import "../../myTheme.less";

.item {
    padding: 6px 7px;
    height: 1.1rem;
    display: flex;
    width: 94%;
    flex-direction: column;
    border-radius: 3px;
    box-shadow: 0 0 5px 0 #cacaca;
    margin: 0.05rem auto;
    background: #fff;
    cursor: move;
    footer {
        display: flex;
        align-items: center;
        margin-top: 5px;
        &>span:nth-of-type(2){
            width: 108px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-left: auto;
            font-size: 10px;
        }
    }
}
.item.active {
    cursor: move;
    background: #fff;
    box-shadow: 0 0 10px 0 #cacaca;
    border: 3px dotted @light-primary-color;
}
.item-header {
    font-size: 12px;
    color: #9e9e9e;
    display: flex;
    align-items: center;
    span{
        font-size: 14px;
    }
}
.item-main {
    font-size: 14px;
    margin-top: 5px;
    color: #424242;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.item-header-point {
    background: #ccc;
    float: right;
    padding: 0 4px;
    min-width: 10px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
}
.col {
    width: 180px;
    flex: 1 1;
    height: inherit;
    margin: 0 5px;
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
}
.col-header {
    height: 46px;
    line-height: 40px;
    // background:#;
    color: #000;
    padding-left: 12px;
    text-align: left;
}
.col-main {
    overflow: auto;
    flex-grow: 1;
    transition: .2s;
}
.col-main.active {
    border: 3px dotted @light-primary-color;
    opacity: 1;
}
.task-wrapper {
    display: flex;
    min-height: 100%;
    width: 100%;
}