.gradu-notice {
    &-link {
        cursor: pointer;

        &:hover {
            text-decoration: underline;
            color          : #4fc3a7;
        }
    }

    &-detail {
        &>h1 {
            margin-top : 0.2rem;
            text-align : center;
            font-weight: 400;
        }

        &>p {
            text-align: center;
        }

        &-content {
            width        : 70%;
            margin       : 0 auto;
            background   : #f0f0f094;
            padding      : 20px;
            border-radius: 10px;
            min-height   : 550px;
            border       : 1px dotted #ccc;
        }
    }
}