@import '~antd/dist/antd.less';
@import './myTheme.less';

@bgColor    : #17b3a3;
@darkBgColor: #16a597;
@boxShadow  : 0 .03rem .03rem 0 rgba(0, 0, 0, .16);

html {
    font-size: 625%;
}

#root {
    width           : 100%;
    height          : 100%;
    position        : relative;
    background-image: url('./assets/images/bg.svg');
    background-size : cover;
}

ul,
li {
    list-style: none;
    margin    : 0;
    padding   : 0;
}

.ant-popover-inner-content {
    padding: 0 !important;
}

.ant-spin-nested-loading {
    width : 100%;
    height: 100%;
}

.ant-spin-container {
    width : 100%;
    height: 100%;
}

.ant-drawer-open {
    z-index: 1030;
}

.anticon-woman {
    color: #ff0000bd;
}

.anticon-man {
    color: #3aa0f4;
}

.gradu-content-header {
    padding      : .07rem;
    border-bottom: 1px solid #e6e6e6;

    button {
        border    : none;
        box-shadow: none;
    }
}

.gradu-form-content {
    padding : .15rem .2rem;
    height  : calc(100% - 0.47rem);
    overflow: scroll;
}

.gradu-form-opts {
    padding: .01rem 0;

    li {
        font-size : 0.14rem;
        padding   : 0.04rem 0.06rem;
        cursor    : pointer;
        text-align: center;
        transition: 0.5s;

        &:hover {
            background: #e3e3e385;
        }
    }
}

.gradu-header {
    width      : 100%;
    height     : .48rem;
    line-height: .48rem;
    color      : #fff;
    background : @bgColor;
    box-shadow : @boxShadow;

    &-right {
        float      : right;
        display    : flex;
        align-items: center;
    }

    &-middle {
        float      : left;
        margin-left: .2rem;
    }

    &-project {
        float       : right;
        margin-right: .15rem;
    }

    &-left {
        width           : 2.5rem;
        float           : left;
        font-size       : .22rem;
        font-weight     : 500;
        padding-left    : .1rem;
        background-color: @darkBgColor;

        button {
            margin-right: .1rem;
        }
    }
}

#mainContainer {
    width  : 100%;
    height : calc(100% - .48rem);
    display: flex;

    .gradu-side-menu {
        .ant-menu-submenu-title {
            span {
                span {
                    width  : 1.66rem;
                    display: inline-block;
                }
            }
        }

        .ant-menu {
            height          : 100%;
            background-color: rgba(236, 236, 236, 0.65);
        }
    }

    .gradu-container {
        flex      : 1;
        height    : 100%;
        background: #fff;
    }
}


::-webkit-scrollbar {
    width           : 10px;
    height          : 10px;
    background-color: #fff;
}